/*页面通用样式*/
body{
    font-size:12px;
    font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑,
    "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
    color:#7B7B7B;
    margin:0 auto;
    width:100%;
    background-color:#fff;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0 auto;
    padding:0;
    list-style:none;
}
.lf{float:left;}
.rt{float:right;}
.clear :after{
    content:"";
    display:block;
    clear:both;}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#868686;

}
/*布局样式*/
#top,#top_box,#top_main,#banner,#main,#main_bottom,#foot_box,#footer,#banner_bottom{
    width:100%;
    margin:0 auto;
    box-sizing:border-box;
}
#top{
    height:30px;
    padding:0px 111.5px;
    padding:0px 12px;

    background-color:#009B72;
    box-sizing:border-box;
}
#top li{
    float:left;
}
#top a{
    display:block;
    color:#fff;
    height:30px;
    border-left:1px solid #47B488;
    height:30px;
    width:66px;
    padding:0 20px;
    padding:6px 0 5px 0;
    box-sizing:border-box;
    text-align:center;
}
#top a:hover{
    text-decoration:none;
    background-color:#47B488;
}
#top_box{
    padding:0 40px;
    height:80px;
    box-sizing:border-box;
}
#top_box>p{

    margin-top:30px;
    margin-bottom:10px;
    float:left;
}
#top_box ul {
    line-height:50px;
    margin-top:26px;
}
#top_box ul li{
    float:left;
    padding:0 20px;
    box-sizing:border-box;
    font-size:16px;
}
#top_box ul a.current{
    padding-bottom:2px;
    border-bottom:2px solid #2AAD6F;}
#top_box ul :nth-child(8) a{
    display:block;
    padding-top:8px;
    position:relative;
    width:55px;
    height:50px;
}
#top_box ul :nth-child(8) p{
    position:absolute;
    width:28px;
    height:29px;
    background:url("../images/mini/sprite-icons.png") -130px -151px no-repeat;
}
#top_box ul :nth-child(8) span{
    color:#fff;
    line-height:30px;
    text-align:center;
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#2AAD6F;
}
#slider_contaienr{
    margin:0 auto;
    width:1200px;
    /*margin-left:50%;*/
    /*margin-left:-100px;*/

}
#slider {
    /*margin:0 auto;*/
    margin-left:-330px;
    width:1818px;
    /*width: 1818px;*/
    height:568px;
    margin-top:10px;
    position:relative;
    overflow:hidden;
}
#slider #imgs {
    position:absolute;
    top: 0;  left: 0;
    height:568px;
}
#slider #imgs li{
    float:left;
    z-index:0;
    /*margin-left:309px;*/

}

#slider #indexs {
    width:100%;
    text-align:center;
    position:absolute;
    bottom:5px;
    right:30px;


}
#slider #indexs li {
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    background: #7B7B7B;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left:10px;
}
#slider #indexs li:hover,#slider #indexs li.hover {
    background:#fff;
    border:5px solid #39AC73;
    box-sizing:border-box;
}
ul {
    padding:0;}



#main{
    padding:70px 12px;
}
#main ul{
    margin:0 auto;
    width:1173.8px;
    border-top:1px solid #E0E0E0;
    border-left:1px solid #E0E0E0;
}
#main li{
    width:293.4px;
    height:482px;
    float:left;
    border-bottom:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
    box-sizing:border-box;
    position:relative;
    background-color:#fff;
}
#main a img {
    position:absolute;
    top:50%;left:50%;
    margin-left:-95px;margin-top:-140px;
}
#main dl,#main dt{
    clear:both;}
#main dl dt:nth-child(2){
    position:absolute;
    bottom:90px;
    font-size:16px;
    width:100%;
    height:39px;
    text-align:center;
}
#main dl span{
    width:263px;
    display:block;
    margin:0 auto;}
#main dl p{
    position:absolute;
    width:100%;
    bottom:60px;
    text-align:center;
}
#main h1{
    position:absolute;
    bottom:30px;
    width:100%;
    text-align:center;
    color:#FF3300;
}
#main dd b{
    position:absolute;
    bottom:30px;
    width:100%;
    text-align:center;
    color:#349166;
    font-size:20px;
}
#main li>img{
    position:absolute;
    right:0;
}
/*==============*/
#main_bottom{
    padding:0 12px 70px 12px;
}
#main_bottom ul{
    margin:0 auto;
    width:1173.8px;
    border-top:1px solid #E0E0E0;
    border-left:1px solid #E0E0E0;}
#main_bottom li{
    width:293.4px;
    height:479px;
    float:left;
    border-bottom:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
    box-sizing:border-box;
    position:relative;
    background-color:#fff;
}
#main_bottom a img {
    position:absolute;
    top:50%;left:50%;
    margin-left:-95px;margin-top:-160px;
}
#main_bottom dl,#main dt{
    clear:both;}
#main_bottom dl dt:nth-child(2){
    position:absolute;
    bottom:90px;
    font-size:16px;
    width:100%;
    height:39px;
    text-align:center;
}
#main_bottom dl span{
    width:263px;
    display:block;
    margin:0 auto;}
#main_bottom dl p{
    position:absolute;
    width:100%;
    bottom:60px;
    text-align:center;
}
#main_bottom h1{
    position:absolute;
    bottom:30px;
    width:100%;
    text-align:center;
    color:#FF3300;
}
#main_bottom dd b{
    position:absolute;
    bottom:30px;
    width:100%;
    text-align:center;
    color:#349166;
    font-size:20px;
}
#main_bottom li>img{
    position:absolute;
    right:0;
}
#insurance{
    width:100%;
    background:#F6F6F6;
}
#insurance>img{
    padding-top:30px;
    margin:0 auto;
    display:block;}
#foot_box{
    background:#F6F6F6;}
#foot_box>iframe{
    width:1200px;
    display:block;
    margin:0 auto;
    height:380px;
}
#fixed{
    position:fixed;
    bottom:30px;
    right:30px;}
#fixed a{
    width:120px;
    height:40px;
    display:block;
    margin-top:3px;
    box-sizing:border-box;}
#fixed span{
    visibility:hidden;
    width:80px;
    height:100%;
    float:left;
    text-align:center;
    text-decoration:none;
    color:#fff;
    font-size:14px;
    line-height:40px;}
#fixed b{
    width:40px;
    height:40px;
    float:left;
    display:inline-block;
    background:#EDEDED;
    text-align:center;}
#fixed i{
    width:20px;
    height:20px;
    display:inline-block;
    margin-top:10px;
    box-sizing:border-box;}
#fixed a:nth-child(1) i{
    background:url("../images/mini/backtop-icon.png") no-repeat;}
#fixed a:nth-child(2) i{
    background:url("../images/mini/feedback-icon.png") no-repeat;}
#fixed a:hover{}
#fixed a:hover span{
    visibility:visible;
    background-color:#47B488;}
#fixed a:hover b{
    background-color:#47B488;}
#ask{
    position:fixed;
    right:30px;
    bottom:40%;
}


